#default {
  background-color:#1682c9;
}
#default, #logo, #main, #base {
  position: relative;
  margin: 0 auto;
}
#logo {
  position: relative;
  width: 100%;
  max-height: 150px;
  background-color: #ffffff;
}
#svg-logo {
    position: relative;
    top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title-h3 {
    position: relative;
    top: 20%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    z-index: 1;
}
#main {
  display: block;
  text-align: center;
  height: 100px;
  background-color:#cecece;
}
#form-box {
    position: relative;
    display: inline-block;
    top: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1682C9;
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #1682C9;
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #1682C9;
    text-align: center;
}
#normal-url {
    position: relative;
    display: inline-block;
    left: 0;
    width: 250px;
}
#submit, #normal-url{
    position: relative;
    display: inline-block;
    left: 0;
    height: 20px;
    background-color: #ffffff;
    color: #1682c9;
    text-decoration: none;
    border: 1px solid #1682c9;
    border-radius: 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
#submit:hover, #normal-url:hover {
    background-color: #1682C9; /* Blue */
    color: white;
}
#submit {
    height: 24px !important;
}
#short-url {
    position: relative;
}
#base {
 background-color:#000000;
}
